@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Ẩn thanh cuộn trên Firefox */
html {
    scrollbar-width: none;
    /* Ẩn thanh cuộn dọc */
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn trên Internet Explorer và Edge */
}

body {
    scrollbar-width: none;
    /* Ẩn thanh cuộn dọc */
}

:root {
    --background: #1e1f38;
    --text: #fff;
    --background-dark: #121125;
    --black: #000;
    --primary: #874cf2;
    --form-bg: #161e2d;
    --input-form-bg: #212b3a;
}

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #fff;
    transition: all 0.3s linear;
}

/* css placeholder */
/* bar shadow */
.shadow-bar {
    box-shadow: 1px 7px 10px 5px #1d1c1c;
}

/* Auth */
.auth-bg {
    background: var(--primary)
}

/* checked label */
.wrapper-confirm {
    display: none;
}

.action-checkbox[type="checkbox"]:checked~.wrapper-confirm {
    display: flex;
    opacity: 1;
    visibility: visible;
}

/* custom button */

/* active */
.active {
    color: #4038af;
    border-color: #150e7b;
}



input[type="checkbox"] {
    accent-color: var(--primary);
}

@keyframes form_error_notify {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

.form_error_notify {
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    bottom: 20px;
    right: 20px;
    position: absolute;
    animation: form_error_notify 0.3s ease-in-out forwards;
}

.form_success_notify {
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    bottom: 20px;
    right: 20px;
    position: absolute;
    animation: form_error_notify 0.3s ease-in-out forwards;
}